<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="form-box">
        <h1>Home Page</h1>
        <p>Welcome {{user.name}}</p>
        <form action="/" method="POST" class="main-form">
            <a href="/signup" class="home-btn">Sign Up</a>
            <a href="/login" class="home-btn">Login</a>
            <a href="/profile" class="home-btn">Profile</a>
            <a href="/logout" class="home-btn">Logout</a>
        </form>
    </div>
</body>

</html>
