<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  <div class="form-box">
        <h1>{{user.name}}'s profile</h1>
    <form action="/login" method="POST" class="main-form">
      <div class="main-form__body--input">
        <p>NAME: {{user.name}}</p>
        <p>USERNAME: {{user.username}}</p>
        <p>EMAIL: {{user.email}}</p>
        <a href="/" class="home-btn">HOME</a>
        <a href="/logout" class="home-btn">LOGOUT</a>
      </div>
    </form>
  </div>
</body>

</html>