<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.js">
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST"></form>
        <label for="">Name</label>
        <input type="text" 
            name="name" 
            placeholder="Jane Doe" 
            required> <br>
        <label for="">Username</label>
        <input type="text" 
            name="username" 
            placeholder="Username" 
            required> <br>
        <label for="">Email</label>
        <input type="email" 
            name="email" 
            placeholder="me@email.com" 
            required> <br>
        <label for="">Password</label>
        <input type="password" 
            name="name" 
            placeholder="password123" 
            required> <br>
        <button type="Submit">Sign Up</button>

</body>
</html>