* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura;
  outline: none;
  /* text-align: center; */
}

body {
  background: #CDE8D5;
}

.main-form:after {
  content: "";
  display: table;
  clear: both
}

.form-box {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 10px 10px 0 rgba(0,0,0,.1);
}


h1 {
  position: relative;
  font-size: .8rem;
  text-transform: uppercase; 
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-align: center;
}  

h1:after {
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 4px;
  background: lighten(#000, 95%);
  content: "";
}

/* ~~~INPUT~~~~ */
.main-form__body--input {
  display: block;
  width: 100%;
  border: 0;
  background: #efeded;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 10px;
  outline: 0;
  font-size: .9rem;
  color: lighten(#000, 40%);
  letter-spacing: 2px;
}  

main-form__body--input:focus {
  background: darken(#fff, 3%);
}

/* ~~~LINKS~~~~ */
.home-btn {
  display: block;
  width: 40%;
  margin-top: 40px;
  margin-left: 17px;
  float: left;
  background: #FCA44B;
  padding: 15px;
  border: 0;
  font-size: .6rem;
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.home-btn:hover {
  background: #f99531;
}